<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All-in-One Marketing Software for Small Businesses</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light row">
    <!-- First column -->
    <div class="col-5">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Resources</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#">Inspiration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Middle column -->
    <div class="col-2">
      <a class="navbar-brand" href="#">
        <img src="assets/images/mailchimp-vector-logo.png" alt="logo">
      </a>
    </div>

    <!-- Last column -->
    <div class="col-5 d-flex justify-content-end align-items-center">
      <button type="button" class="nav-item btn shadow-none" aria-label="Search">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
      </button>
      <button type="button" class="nav-item btn loginbtn shadow-none mr-4">Log In</button>
      <button type="button" class="nav-item btn signupfreebtn shadow-none">Sign Up Free</button>
    </div>
  </nav>
  
    <router-outlet></router-outlet>

  <footer>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row">
          <div class="col-2">
              <h5 class="">Products</h5>
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-dark">Why Mailchimp?</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Product Updates</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Email Marketing</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Websites</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Transactional Email</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">How We Compare</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">GDPR Compliance</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Security</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Status</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Mobile App</a>
                </li>
              </ul>
          </div>
          <div class="col-2">
            <h5 class="">Resources</h5>
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-dark">Guides & Tutorials</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Marketing Tips</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Marketing Glossary</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Browse by Topic</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Integrations Directory</a>
                </li>
              </ul>
          </div>
          <div class="col-2">
            <h5 class="">Community</h5>
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-dark">Agencies & Freelancers</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Developers</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Events</a>
                </li>
              </ul>
          </div>
          <div class="col-2">
            <h5 class="">Company</h5>
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-dark">Our Story</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Newsroom</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Annual Report</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Careers</a>
                </li>
              </ul>
          </div>
          <div class="col-2">
            <h5 class="">Help</h5>
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-dark">Contact Us</a>
                </li>
                <li>
                  <a href="#!" class="text-dark">Hire an Expert</a>
                </li>
              </ul>
          </div>
          <div class="col-2">
            <h5>Mailchimp Presents</h5>
            <p>Films, podcasts and original series that celebrate the entrepreneurial spirit.</p>
            <a href="#">Check it out </a>
            <br>
            <h5>Courier</h5>
            <p>Expert insights, industry trends, and inspiring stories that help you live and work on your own terms.</p>
            <a href="#">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-3 d-flex justify-content-center align-items-center">
        <img src="assets/images/icon-ios.svg" class="img-fluid mr-4" height="30%" width="30%" alt="">
        <img src="assets/images/icon-android.svg" class="img-fluid" height="30%" width="30%" alt="">
      </div>
      <div class="col-3 d-flex justify-content-center align-items-center">
        <a href="#"><i class="fa fa-facebook fa-2x p-3"></i></a>
        <a href="#"><i class="fa fa-twitter fa-2x p-3"></i></a>
        <a href="#"><i class="fa fa-instagram fa-2x p-3"></i></a>
        <a href="#"><i class="fa fa-linkedin fa-2x p-3"></i></a>
        <a href="#"><i class="fa fa-youtube fa-2x p-3"></i></a>
        <a href="#"><i class="fa fa-pinterest fa-2x p-3"></i></a>
      </div>
      <div class="col-3">
        <select name="" id="">
          <option value="English">English</option>
          <option value="Español">Español</option>
          <option value="Français">Français</option>
          <option value="Português">Português</option>
          <option value="Deutsch">Deutsch</option>
        </select>
        <p>©2001-2021 Alle Rechte vorbehalten. Mailchimp® ist eine eingetragene Marke der Rocket Science Group. Apple und das Apple-Logo sind in den USA und anderen Ländern eingetragene Marken von Apple Inc. Der Mac App Store ist eine Dienstleistungsmarke von Apple Inc. Google Play und das Google-Play-Logo sind Marken von Google Inc. Datenschutz und Nutzungsbedingungen</p>
      </div>
      <div class="col-1">

      </div>
    </div>
  </footer>

</body>
</html>