<div class="jumbotron jumbotron1">
    <div class="container-fluid row">
        <div class="col-1">

        </div>
        <div class="col-5">
            <h1 class="">Marketing smarts for big ideas</h1>
            <p class="lead">Mailchimp helps small business do big things, with the right tools and guidance every step of the way.</p>
            <button type="button" class="btn pickaplan shadow-none mr-4">Pick A Plan</button>
        </div>
        <div class="col-5">
            <img src="assets/images/ILLO_Hero_Control_FranzLang_1520x1520_border__1_-min.png" class="img-fluid" alt="">
        </div>
        <div class="col-1">
        </div>
    </div>
</div>

<div class="">
    <div class="container-fluid row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <h1 class="d-flex justify-content-center align-items-center">Do it all with MailChimp</h1>
            <p class="lead">Mailchimp helps small business do big things, with the right tools and guidance every step of the way.</p>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>

<div class="">
    <div class="container-fluid row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div class="row contendbbg ">
                <div class="col d-flex justify-content-bottom align-items-center">
                    <h3 class="">Get your business online <br/>
                        <p class="lead">Give your brand a home with a custom domain. Then create a website with build-in marketing tools to help you lunch it.</p>
                        <br>
                        <a href="#" class="lead"> Websites and domains <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </h3>
                </div>
                <div class="col">
                    <img src="assets/images/MC_sites_01e__2_-min.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>

<div class="">
    <div class="container-fluid row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div class="row contendbbg ">
                <div class="col d-flex justify-content-bottom align-items-center">
                    <h3 class="">Market Your business <br/>
                        <p class="lead">Send the right messages on all the right channels. Build emails, social ads, landing pages, postcards, and more from one place.</p>
                        <br>
                        <a href="#" class="lead">Marketing campaigns <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </h3>
                </div>
                <div class="col">
                    <img src="assets/images/MC_marketing_01e-min.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>

<div class="">
    <div class="container-fluid row">
        <div class="col-1">
        </div>
       <div class="col-10">
            <h1>We'll help you — </h1>
            <div class="row mbrem">
                <div class="col-6">
                    <img src="assets/images/we_help_you_people.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <h3 class="">Reach the right people<br/>
                        <p class="lead">Put your people at the heart of your marketing with tools that help you get to know your audience and see who you should be talking to.</p>
                        <br>
                        <a href="#" class="lead">Audience management tools</a>
                    </h3>
                </div>
            </div>
            <div class="row mbrem">
                <div class="col-6">
                    <img src="assets/images/we_help_you_content.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <h3 class="">Create better content<br/>
                        <p class="lead">Let your brand shine through with easy-to-use design tools and flexible templates. Our AI-powered Creative Assistant will even generate custom designs for you in seconds.</p>
                        <br>
                        <a href="#" class="lead">Explore content studio</a>
                    </h3>
                </div>
            </div>
            <div class="row mbrem">
                <div class="col-6">
                    <img src="assets/images/we_help_you_automate.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <h3 class="">Automate your marketing<br/>
                        <p class="lead">Add a personal touch without the personal effort through automated messages that reach your customers at exactly the right moments.</p>
                        <br>
                        <a href="#" class="lead">Learn about automations</a>
                    </h3>
                </div>
            </div>
            <div class="row mbrem">
                <div class="col-6">
                    <img src="assets/images/we_help_you_insights.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <h3 class="">Take action with our insights     <br/>
                        <p class="lead">With all your data and insights in one place, you can see what’s working best and get recommendations to help you do more of it.</p>
                        <br>
                        <a href="#" class="lead">Insights & analytics tools</a>
                    </h3>
                </div>
            </div>
       </div>
        <div class="col-1">
        </div>
    </div>
</div>

<div class="jumbotron jumbotron2">
    <div class="container-fluid row mt-5 mb-5">
        <div class="col-2">
        </div>
        <div class="col-8 growwm">
            <h1>Grow with Mailchimp</h1>
            <p>Our marketing platform helps brands like these build their thing and keep it growing.</p>
            <div class="row">
                <div class="col">
                    <img src="assets/images/new-belgium-brewing-logo-A417F22C28-seeklogo.com.png" alt="">
                    <p>Customers since 2011</p>
                </div>
                <div class="col">
                    <img src="assets/images/Vimeo_bw.png" alt="">
                    <p>Customers since 2012</p>
                </div>
                <div class="col">
                    <img src="assets/images/_ted-logo-black-ted-logo-black-and-white.png" alt="">
                    <p>Customers since 2010</p>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>

<div class="">
    <div class="container-fluid row keepp">
        <div class="col-4">
        </div>
        <div class="col-4">
            <h1 class="d-flex justify-content-center align-items-center">Keep pushing forward. We've got your back.</h1>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>

<div class="mbrem">
    <div class="container-fluid row mt-5 mb-5">
        <div class="col-1">
        </div>
        <div class="col-10 growwm">
            <div class="row">
                <div class="col">
                    <img src="assets/images/ILLO_Spot_Email_3_1080__1_.png" alt="">
                    <h3>Award-winning support</h3>
                    <p>Get the help you need, whenever you need it with our 24/7 support.</p>
                    <a href="#">Learn more</a>
                </div>
                <div class="col">
                    <img src="assets/images/ILLO_Spot_Why-Mailchimp_Power-In-Numbers_1080x1080.png" alt="">
                    <h3>250+ app integrations</h3>
                    <p>You can connect all your tools to Mailchimp and unlock even more features.</p>
                    <a href="#">Learn more</a>
                </div>
                <div class="col">
                    <img src="assets/images/ILLO_Mini-Spot_Best-Customers_3_520.png" alt="">
                    <h3>A directory of trusted pros</h3>
                    <p>Take your marketing to the next level when you work with a Mailchimp partner.</p>
                    <a href="#">Browse partners</a>
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>

<div class="jumbotron3">
    <div class="container-fluid row">
        <div class="col-1">
        </div>
       <div class="col-10">
            <h1>See how it all comes <br /> together</h1>
            <div class="row mbrem">
                <div class="col-6">
                    <img src="assets/images/Woo-New-Logo-image.png" class="img-fluid" alt="">
                </div>
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <h3 class="">Connect your store to give regular emails a sales boost<br/>
                        <p class="lead">Do more with your marketing using the power of analytics. Sync your store data and get pre-built customer segments based on purchase behavior to improve your sales.</p>
                        <br>
                    </h3>
                </div>
            </div>
            <div class="row mbrem">
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <h3 class="">Pave the way to purchase<br/>
                        <p class="lead">Put your customers on personalized journeys that lead them to checkout.</p>
                        <br>
                    </h3>
                </div>
                <div class="col-6">
                    <img src="assets/images/Purchase-min.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row mbrem">
                <div class="col-6">
                    <img src="assets/images/Results.png" class="img-fluid" alt="">
                </div>
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <h3 class="">Sit back and watch the results roll in<br/>
                        <p class="lead">Track sales from first click to purchase. See who paid for what and how much money your campaign has earned.</p>
                        <br>
                    </h3>
                </div>
            </div>
            <div class="row upto6">
                <div class="col-2">
                </div>
                <div class="col-8">
                    <h2>Up to 6x more orders with automation</h2>
                    <p>Make your marketing work harder so you can focus on running your business. Our data shows automations can generate up to 6 times more orders than bulk email alone.</p>
                    <button type="button" class="nav-item btn shadow-none sasb">See All Smarts</button>
                    </div>
                <div class="col-2">
                </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center">
                <img src="assets/images/ILLO_Hero_Transactional-Target-1520.png" class="img-fluid" alt="">
            </div>
       </div>
        <div class="col-1">
        </div>
    </div>
</div>

<div class="mbrem">
    <div class="container-fluid row">
        <div class="col-1"></div>
        <div class="col-5">
            <img src="assets/images/why_mailchimp.png" alt="">
            <h3>Since using Mailchimp, I feel so much more confident in managing all our marketing. Like I got this.</h3>
            <p>– Marissa Axell, co-founder of 17th Street Athletic Club</p>
            <div class="row">
                <div class="col-6">
                   <h1>37%</h1> 
                    <p>lift on online bookings</p> 
                    <p>Results not typical.</p>
                </div>
                <div class="col-6">
                    <h1>250%</h1>
                    <p>increase in email signups</p>
                </div>
            </div>
        </div>
        <div class="col-5">
            <img src="assets/images/wis-17thstreet-Hero-Article-_1_.jpg" class="img-fluid"class="img-fluid" alt="">
        </div>
        <div class="col-1"></div>
    </div>
</div>

<div class="jumbotron mcbct">
    <div class="container-fluid row mcbc">
        <div class="col-1">
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1>Mailchimp was recently named one of the Best Software Companies of 2020 by G2.</h1>
                <button type="button" class="nav-item btn shadow-none">See how we stack up</button>
                <img src="assets/images/ILLO_Hero_Transactional-Sending_Receiving-1520.png" class="img-fluid" alt="">
            </div>
            <div class="col-4"></div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>

<div class="">
    <div class="container-fluid row rgyit">
        <div class="col-1">
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h1>Resources to give you the inside track</h1>
                <p>Looking to get ahead? We have expert guidance, timely resources, and inspiring stories from entrepreneurs who’ve been in your shoes. Business-growing shoes.</p>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>

<div class="cat9">
    <div class="container-fluid row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row">
                <div class="col-8 cb8">
                    <h5>MAILCHIMP REPORT</h5>
                    <h1>How Small Businesses are Finding New Ways to Grow</h1>
                    <p>You need data-based insights, actionable takeaways, and loads of inspiration to adapt. As it turns out, our new report has all that and more.</p>
                    <button type="button" class="nav-item btn shadow-none">Read the Report</button>
                </div>
                <div class="col-4 bc1">
                    <img src="assets/images/All-in-a-days-work-Grid-min.jpg" class="img-fluid" alt="">
                    Mailchimp Presents
                    <h4>SERIES</h4> 
                    <h2>All in a Day’s Work</h2>
                    <p>Created with It’s Nice That, our new animated series reveals the ups, downs, and realities of life as an entrepreneur.</p>
                    <h6>Watch Now</h6>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>

<div class="cat10">
    <div class="container-fluid row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row">
                <div class="col-4 bc2">
                    Mailchimp Presents
                    <h4>SERIES</h4> 
                    <h2>All in a Day’s Work</h2>
                    <p>Created with It’s Nice That, our new animated series reveals the ups, downs, and realities of life as an entrepreneur.</p>
                    <h6>Watch Now</h6>
                </div>
                <div class="col-8 cb9">
                    <div class="row">
                        <div class="col-6">
                            <img src="assets/images/Resource-Image.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-6">
                            <h5>RESOURCES</h5>
                            <h1>How to Market and Grow Your Small Business</h1>
                            <p>Whether you’re a brand-new entrepreneur or a seasoned pro, learning how to market is vital to your success. These 3 steps lay the foundation.</p>
                            <button type="button" class="nav-item btn shadow-none">Read more
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>

<div class="cat11">
    <div class="container-fluid row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <h1 class="">Let’s do this</h1>
            <p class="lead">Every big idea starts with a small step forward.</p>
            <button type="button" class="btn pickaplan shadow-none mr-4">Pick A Plan</button>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>